<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="fullSensor"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcademicAdvisingSyst"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AdminOP.View.ViewStudentLader"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Admin.ViewDeatils"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentOp.ui.AttendViewStudent"
            android:exported="false"
            android:label="@string/title_activity_attend_view_student"
            android:theme="@style/Theme.AcademicAdvisingSyst.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentOp.SectionTableStudent"
            android:exported="false" />
        <activity
            android:name=".TecahrOp.View.AttendanceNew"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TecahrOp.View.AttendanceView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".TecahrOp.View.ViewStudentInSection"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TecahrOp.View.SectionViewTechar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TecahrOp.MainTechar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentOp.SubjectMy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TecahrOp.DailyScheduleInTecharView"
            android:exported="false" />
        <activity
            android:name=".StudentOp.SectionViewStudent"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentOp.ui.SubjectViewStudent"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentOp.FileStudentSemester"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentOp.ui.DailyScheduleStudentView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.ui.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:supportsRtl="true"
            tools:ignore="RtlEnabled" />
        <activity
            android:name=".AdminOP.View.StudentDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.CoursesView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.FileStudentView"
            android:exported="false" />
        <activity
            android:name=".AdminOP.View.FileStudentNew"
            android:exported="false" />
        <activity
            android:name=".AdminOP.View.TecherDetails"
            android:exported="false" />
        <activity
            android:name=".AdminOP.View.LeaderView"
            android:exported="false" />
        <activity
            android:name=".AdminOP.View.SemesterView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.TecharsView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.TecharsNew"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.DailyScheduleNew"
            android:exported="false" />
        <activity
            android:name=".AdminOP.View.DailyScheduleView"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".AdminOP.View.SectionNew"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.SectionView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.StudentNew"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.UserNew"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.StudentView"
            android:exported="false"
            android:supportsRtl="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.SubjectNew"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentOp.MainStudent"
            android:exported="false" />
        <activity
            android:name=".AdminOP.View.SubjectView"
            android:exported="false"
            android:supportsRtl="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOP.View.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_main6"
            android:resizeableActivity="true"
            android:theme="@style/Theme.Madarsoft.NoActionBar"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".AdminOP.View.LaderFileStudentNew"

            android:enabled="false"/>
    </application>

</manifest>